body 
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #DFC5FE;
}


header .container 
{
  display: flex;
  color: black; 
  background: white;
  padding: 10px;
  gap: 250px;
  text-align: center;
  margin: 30px;
}

h1.title 
{
  font-family: 'titleFont', sans-serif;
  font-size: 3rem;
  margin-left: 30px;
}

nav ul 
{
  display: flex;          
  justify-content: center;
  list-style: none;       
  gap: 190px;      
  margin-top: 47px;
}
nav ul li a 
{
  font-family: 'titleFont', sans-serif;
  text-decoration: none;  
  color: black;          
  font-weight: bold;
  font-size: 30px;
}

nav ul li a:hover 
{
  text-decoration: underline;
}

h2.bigText 
{
  font-family: 'titleFont', sans-serif;
  font-size: 3rem;
  margin-left: 30px;
}

img 
{
  width: 500px;
  border-radius: 8px;
  float: right;
  margin-right: 30px;
}

@font-face 
{
  font-family: 'titleFont';
  src: url('./assets/fonts/Chloe-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.nav-link, button.nav-link {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-family: 'titleFont';
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.nav-link:hover, button.nav-link:hover {
  text-decoration: underline;
}

.dropdown 
{
  position: relative;
}

.dropdownContent
{
  display: none;
  transform: translateX(-17%);
  position: absolute;
  background-color: #444;
  padding: 10px;
  border-radius: 6px;
  top: 100%;
  left: 0;
  min-width: 120px;
  z-index: 1;
}

.dropdownContent a 
{
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.dropdownContent a:hover 
{
  background-color: #666;
}

.dropdown:hover .dropdownContent 
{
  display: block;
}